<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>451552206789-v9patqc2b7gc1pbef0g1eassjo0o7s7o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.451552206789-v9patqc2b7gc1pbef0g1eassjo0o7s7o</string>
	<key>API_KEY</key>
	<string>AIzaSyA35i3jghedqV53Mkw4Cg3sLd4HNXJoy3c</string>
	<key>GCM_SENDER_ID</key>
	<string>451552206789</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dreb.lbta-instagram</string>
	<key>PROJECT_ID</key>
	<string>lbta-instagram</string>
	<key>STORAGE_BUCKET</key>
	<string>lbta-instagram.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:451552206789:ios:cb9d8667372ecbe1</string>
	<key>DATABASE_URL</key>
	<string>https://lbta-instagram.firebaseio.com</string>
</dict>
</plist>